html {
    background-color: #DED4F4;
    font-family: 'PT Serif';
    color: rebeccapurple;
    overflow: none;
}

#menu {
    padding: 10px;
    width: 20%;
    height: fit-content;
    min-height: 246px;
    float: left;
    background-color: #BEA9E9;
    border-radius: 5px;
    border: 3px rebeccapurple dashed;
}

#menu-options {
    padding: 0px;
    list-style-type: none;
}

#menu-options span {
    text-decoration: underline;
    display: none;
}

#menu-options ul {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#menu-options li {
    margin-left: 40px;
}

#time {
    text-decoration: none !important;
}

#game {
    padding: 20px;
    width: 70%;
    float: left;
}

#location {
    margin-top: 10px;
}

#error {
    color: red;
    margin-bottom: 10px;
}

#text-options {
    padding: 0px;
}

#input {
    border: 0;
    border-radius: 2px;
}